langgraph
langsmith
huggingface_hub
python-dotenv==1.0.1
dotenv
# AI/ML dependencies
langchain
langchain-core
langchain-huggingface
langchain-community
langchain-text-splitters
huggingface-hub
transformers
torch
google-auth-oauthlib
sentence-transformers
langmem
langchain_huggingface
langchain_groq
langchain-google-community








